body {
    font-family: Helvetica, Arial, 'Nimbus Sans L', sans-serif;
}

h1 {
    font-size: 3em; /*48px*/
    font-weight: 500;
    line-height: 1.2;
    /*margin: 2.5em 0 3.75em;*/
    /*padding-top: 1em;*/
}

h2 {
    font-size: 3em; /*48px*/
    /*margin: 2.5em 0 1.25em;*/
    /*padding-top: 0.625em;*/
    font-size: 1.75em; /*28px*/
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 2em; /*32 px*/
    /*margin: 2.5em 0 1.25em;*/
    /*padding-top: 1em;*/
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.8em; /*29px*/
    /*margin: 1.25em 0;*/
    font-weight: 500;
    line-height: 1.2;
}

h5 {
    font-size: 1.4em; /*22px*/
    /* margin: 1.25em 0 1.67em;*/
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    font-size: 1em; /*16px*/
    text-transform: uppercase;
    margin: 2.33em 0;
    font-weight: normal;
    line-height: 1.2;
}

a {
    color: #007faa;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #609;
}

p.lead {
    font-size: 1.125em; /*18px*/
    font-weight: normal;
    line-height: 1.5;
    margin: 1em 0;
}

p {
    font-size: 0.9375em; /*15px*/
    font-weight: normal;
    line-height: 1.5;
    margin: 1em 0;
}

p.note {
    font-size: 0.8125em; /*13px*/
    font-weight: normal;
    line-height: 1.5;
    margin: 1em 0;
    color: #4d5355;
}

.alert {
    border-width: 1px;
    border-style: solid;
    padding: 1em;
}

.alert p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.alert-success {
    color: #467c0c;
    background-color: #f7feef;
    border-color: #4f8c06;
}

.alert-info {
    color: #003e52;
    background-color: #ebfaff;
    border-color: #003e52;
}

.alert-error {
    color: #b73e25;
    background-color: #fcf2f0;
    border-color: #b73e25;
}

.alert-warning {
    color: #9f622c;
    background-color: #fbf6f1;
    border-color: #ba7233;
}

.alert-heading {
    font-size: 1.3125em;
    font-weight: bold;
}
