#header {
    background-color: black;
}

.page-header {
    color: white;
}

.search-form {
    padding: 10px;
    font-size: 1.3em;
}

.search-icon {
    border: 1px solid black;
    height: 34px;
    width: 34px;
    padding-top: 0px;
    padding-left: 8px;
    margin-bottom: 0px;
    top: 0px;
}

    .search-icon:hover {
        background-color: grey;
    }

.search-field-wrapper, .search-icon-wrapper {
    padding-left: 0px;
    padding-right: 0px;
}

.form-control {
    border-radius: 0px;
}

.home-nav-search {
    height: 300px;
}