body {
    font-family: Helvetica, Arial, 'Nimbus Sans L', sans-serif;
}

h1 {
    font-size: 3em; /*48px*/
    font-weight: 500;
    line-height: 1.2;
    /*margin: 2.5em 0 3.75em;*/
    /*padding-top: 1em;*/
}

h2 {
    font-size: 3em; /*48px*/
    /*margin: 2.5em 0 1.25em;*/
    /*padding-top: 0.625em;*/
    font-size: 1.75em; /*28px*/
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 2em; /*32 px*/
    /*margin: 2.5em 0 1.25em;*/
    /*padding-top: 1em;*/
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.8em; /*29px*/
    /*margin: 1.25em 0;*/
    font-weight: 500;
    line-height: 1.2;
}

h5 {
    font-size: 1.4em; /*22px*/
   /* margin: 1.25em 0 1.67em;*/
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    font-size: 1em; /*16px*/
    text-transform: uppercase;
    margin: 2.33em 0;
    font-weight: normal;
    line-height: 1.2;
}

p.lead {
    font-size: 1.125em; /*18px*/
    font-weight: normal;
    line-height: 1.5;
    margin: 1em 0;
}

p {
    font-size: 0.9375em; /*15px*/
    font-weight: normal;
    line-height: 1.5;
    margin: 1em 0;
}

p.note {
    font-size: 0.8125em; /*13px*/
    font-weight: normal;
    line-height: 1.5;
    margin: 1em 0;
    color: #4d5355;
}

.alert {
    border-width: 1px;
    border-style: solid;
    padding: 1em;
}

    .alert p {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

.alert-success {
    color: #467c0c;
    background-color: #f7feef;
    border-color: #4f8c06;
}

.alert-info {
    color: #003e52;
    background-color: #ebfaff;
    border-color: #003e52;
}

.alert-error {
    color: #b73e25;
    background-color: #fcf2f0;
    border-color: #b73e25;
}

.alert-warning {
    color: #9f622c;
    background-color: #fbf6f1;
    border-color: #ba7233;
}

.alert-heading {
    font-size: 1.3125em;
    font-weight: bold;
}

#header {
    background-color: black;
}

.page-header {
    color: white;
}

.search-form {
    padding: 1.875em;
    font-size: 1em;
}

.search-icon {
    border: 1px solid black;
    height: 1.95em;
    width: 1.95em;
    padding-top: 0px;
    padding-left: 0.25em;
    margin-bottom: 0px;
    top: 0px;
    background-color: black;
}

.fa-search {
    color: white;
}

.search-icon:hover {
    background-color: grey;
    border: 1px solid grey;
}

.search-field-wrapper, .search-icon-wrapper {
    padding-left: 0px;
    padding-right: 0px;
}

.form-control {
    border-radius: 0px;
}

.home-nav-search {
    height: 28.125em;
    background-image: url(images/home-banner.jpg)
}

.home-nav-search .search-row {
    margin-top: 15.625em;
}

.other-nav-search {
    max-height: 14.5em;
    height: auto;
    background-color: #719239;
}

    .other-nav-search .search-row {
        margin-top: 1.25em;
    }

.nav-item a {
    color: white;
}

#main-nav-buttons .btn-secondary, #detail-nav-buttons .btn-secondary {
    color: black;
    background-color: white;
    border-color: white;
}

#detail-nav-buttons .button-selected {
    color: white;
    background-color: black;
    border-color: black;
}

#main-nav-buttons {
    margin-top: 3.75em;
}

    #main-nav-buttons .btn, #detail-nav-buttons .btn {
        border-radius: 0;
        font-weight: 700;
        width: 7em;
    }

        #main-nav-buttons .btn:last-child, #detail-nav-buttons .btn:last-child {
            margin-left: 1em;
        }

.green-background {
    background-color: #6E9E40;
}

.content-wrapper {
    margin-top: 6.25em;
}

.nav-item a {
    font-weight:600;
    font-size: 1.1rem;
    border-right: 2px solid;
}

.nav-item:first-child a {
    padding-left: 0px;
}

.nav-item:last-child a {
    border-right: 0px solid;
}

    /*.nav, .nav-item, .nav-link, .nav-item a {
    height: 30px;
}*/
    .nav-link {
        padding: 0rem 1rem;
    }

footer {
    max-height: 100%;
    background-color: black;
    background-image: url(images/footer.jpg);
    color: white;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

footer ul li, .sidebar ul li {
    list-style-type: none;
    line-height: 2.5em;
}

footer a {
    color: white;
}

    footer a:hover, .nav-item a:hover, footer a:visited, .nav-item a:visited {
        text-decoration: underline;
        color: white;
    }

a {
    color: #007faa;
    cursor: pointer;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: #609;
    }

.specimen-list-item a {
    color: #56A3D6;
}

.specimen-list-item {
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 1.875em;
}

.search-result-item-summary .heading {
    color: #ABABBC;
}

.nav-link a:hover {
    text-decoration: underline;
    color: white;
}

.sidebar a {
    color: black;
}

.sidebar a:hover {
    color: black;
}

/*.container-fluid {
    padding-bottom: 80px;
}*/

.sidebar {
    background-color: #E6E7E9;
    width: 100%;
}

.heading-divider {
    width: 6.5em;
    height: 1em;
    border-bottom: 3px solid;
    margin-bottom: 1.25em;
}

.sidebar ul li {
    font-size: larger;
    line-height: 2.25em;
}

.nav-tabs {
    border: none;
}

.form-group label {
    font-weight:700;
}

.detail-page h5 {
    color: #6E9E40;
}

.detail-page h4 {
    border-top: 1px solid #DCDCDC;
    padding-top: 1em;
    margin-top: 1em;
}

.breadcrumb {
    background-color: white;
    padding-left: 0px;
    padding-top: 0px;
}

.breadcrumb .breadcrumb-item {
    font-size: 1.1rem;
    font-weight: 600;
}

#search-results li .btn {
    font-size: larger;
    border-radius: 0;
    color: black;
    background-color: white;
    border-color: white;
    margin-right: 1.875em;
    font-weight: 600;
}

#search-results .active .btn, #search-results li .btn:hover {
    color: white;
    background-color: black;
    border-color: black;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

#detail-nav-buttons img:hover {
    opacity: 0.5;
}

.mw-35em {
    max-width: 35em;
}