<div id="back-to-top">
    <a href="#">
        <div class="back-to-top">
            <div>
                <i class="fas fa-arrow-up fa-2x"></i>
            </div>
            <div>
                <strong>Top</strong>
            </div>
        </div>
    </a>
</div>