<div class="c-t3-banner " style="background-image: url(images/petr-vysohlid-9fqwGqGLUxc-unsplash-1__FillMaxWzIwMDAsNTQwXQ.jpg)">
    <div class="c-t3-banner__content">
        <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item">
                <a href="/" class="c-breadcrumbs__link">
                    Home
                </a>
            </li>
        </ul>
        <h1 class="c-t3-banner__title">
            Systematics Portal
        </h1>
    </div>
</div>
