<footer class="py-5 mh-100 pl-sm-4 pr-4">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2 mw-100">
            <h5>Useful Links</h5>
            <ul class="text-left list-inline">
                <li><a href="/Support/AboutUs">About Us</a></li>
                <li><a href="/Support/TermsOfUse">Terms of Us</a></li>
                <li><a href="/Support/Privacy">Privacy Statement</a></li>
            </ul>
        </div>
        <div class="col-md-2 ml-md-5 mw-100">
            <h5><a href="/Support/ContactUs">Contact Us</a></h5>
            <ul class="text-left list-inline">
                <li>Ph: (##) ###-###</li>
                <li>Email: <a href="systematicsportal@landcareresearch.co.nz">systematicsportal@landcareresearch.co.nz</a></li>
                <li>Address: Lincoln, New Zealand</li>
            </ul>
        </div>
        <div class="col-md-2 ml-md-5">
            <h5><a href="/Support">Support</a></h5>
            <ul class="text-left list-inline">
                <li><a href="/Support/GettingStarted">Getting Started</a></li>
                <li><a href="/Support/FAQ">FAQ</a></li>
                <li><a href="/Support/DataDefinitions">Data Definitions</a></li>
            </ul>
        </div>
        <div class="col-md-2 ml-md-5">
            <h5><a href="/Support/SiteMap">Site Map</a></h5>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            © Manaaki Whenua – Landcare Research 2020
        </div>
        <div class="col-md-1">
        </div>
    </div>
</footer>

