<footer class="pt-5 pb-5 mh-100 pl-4 pr-4">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2 mw-100">
            <h5>Useful Links</h5>
            <ul class="text-left list-inline">
                <li><a href="">About Us</a></li>
                <li><a href="">Terms of Us</a></li>
                <li><a href="">Privacy Statement</a></li>
            </ul>
        </div>
        <div class="col-md-2 ml-md-5 mw-100">
            <h5>Contact Us</h5>
            <ul class="text-left list-inline">
                <li>Ph: (##) ###-###</li>
                <li>Email: <a href="systematicsportal@landcareresearch.co.nz">systematicsportal@landcareresearch.co.nz</a></li>
                <li>Address: Lincoln, New Zealand</li>
            </ul>
        </div>
        <div class="col-md-2 ml-md-5">
            <h5>Support</h5>
            <ul class="text-left list-inline">
                <li>Getting Started</li>
                <li>FAQ</li>
                <li>Data Definitions</li>
            </ul>
        </div>
        <div class="col-md-2 ml-md-5">
            <h5>Site Map</h5>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 font-weight-bold">
            Manaaki Whenua Landcare Research © 2020
        </div>
        <div class="col-md-1">
        </div>
    </div>
</footer>

