<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/systematics-portal.css" />
</head>
<body>
    <div class="container-fluid">
        <div id="header" class="row pt-3 pb-3">
            <div class="col-md-8">
                <div class="page-header">
                    <h1>
                        Systematics Portal
                    </h1>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/images/mw_lr_landscape_small_white.svg">
            </div>
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <script src="~/old/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
</body>
</html>