<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> *@
    <link rel="stylesheet" type="text/css" href="~/css/style-guide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/systematics-portal.css" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <script type="text/javascript" src="~/js/script.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div id="header" class="row pt-4 pb-3">
            <div class="col-md-1 mw-100">
            </div>
            <div class="col-md-7 mw-100 ">
                <div class="page-header pl-0">
                    <a href="/" class="float-left d-none d-md-block d-lg-block page-title"><h1><strong>SYSTEMATICS</strong>PORTAL</h1></a>
                    <a href="/" class="float-left d-none d-sm-block d-md-none">SYSTEMATICSPORTAL</a>
                </div>
            </div>
            <div class="col-md-3 pt-2 mw-100">
                <a href="https://www.landcareresearch.co.nz/"><img title="Manaaki Whenua - Landcare Research" src="~/images/mw_lr_landscape_small_white.svg" class="float-right"></a>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
</body>
</html>