<html>
<head>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="~/systematics-portal.css" />
</head>
<body>
    <div>
        <div id="header" class="row pt-4 pb-3">
            <div class="col-md-1 mw-100">
            </div>
            <div class="col-md-7 mw-100">
                <div class="page-header">
                    <h1>
                        <strong>SYSTEMATICS</strong>PORTAL
                    </h1>
                </div>
            </div>
            <div class="col-md-3 pt-1 mw-100">
                <img src="~/images/mw_lr_landscape_small_white.svg" class="float-right">
            </div>
            <div class="col-md-1">
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
</body>
</html>