<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/systematics-portal.css" />
</head>
<body>
    <div class="container-fluid">
        <div id="header" class="row pt-4 pb-3">
            <div class="col-md-1 mw-100">
            </div>
            <div class="col-md-7 mw-100 ">
                <div class="page-header pl-0">
                    <a href="/"><img title="Systematics Portal" src="~/images/systematic-portal-title.png" class="float-left"></a>
                </div>
            </div>
            <div class="col-md-3 pt-3 mw-100">
                <a href="https://www.landcareresearch.co.nz/"><img title="Manaaki Whenua - Landcare Research" src="~/images/mw_lr_landscape_small_white.svg" class="float-right"></a>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
</body>
</html>