<div class="row pl-sm-4">
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
        <ul class="nav mt-2">
            <li class="nav-item">
                <a class="nav-link active" href="/Support/AboutUs">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Support/TermsOfUse">Terms of use</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Support">Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div id="main-nav-buttons" class="btn-group float-right" role="group">
            <button class="btn btn-secondary" type="button">
                Search
            </button>
            <button class="btn btn-secondary" type="button">
                Browse
            </button>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
