<div class="row">
    <div class="col-md-12 other-nav-search">
        @await Html.PartialAsync("~/Views/Shared/_Navigation.cshtml")
        @await Component.InvokeAsync("SearchField", (Model != null && !string.IsNullOrEmpty(Model.Query) ? Model.Query : ""))
    </div>
</div>
