<div class="row">
    <div class="col-md-12 other-nav-search">
        @await Html.PartialAsync("~/Views/Shared/_Navigation.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_SearchField.cshtml")
    </div>
</div>
