<div class="row">
    <div class="col-md-12 other-nav-search">
        <partial name="~/Views/Shared/_Navigation.cshtml" />
        @await Component.InvokeAsync("SearchField", (Model != null && Model.GetType().GetProperty("Query") != null && !string.IsNullOrEmpty(Model.Query) ? Model.Query : ""))
    </div>
</div>
