@* <div class="col-md-1 mw-100 sidebar">&nbsp;</div> *@
<div class="col-12 col-lg-3 mw-100 sidebar pl-sm-5 pt-3 pb-5 order-2 order-lg-1">
    <div class="sticky-top">
        <div id="side-bar-navigation">
            <div class="heading-divider mt-4">&nbsp;</div>
            <h2>Navigation</h2>
            <ul class="text-left list-inline">
                <li><a href="#section-biostatus-values">Biostatus Values</a></li>
                <li><a href="#section-nomenclature">Nomenclature</a></li>
                <li><a href="#section-classification">Classification</a></li>
                <li><a href="#section-vernacular-names">Vernacular Names</a></li>
                <li><a href="#section-hybridisation">Hybridisation</a></li>
                <li><a href="#section-associations">Associations</a></li>
                <li><a href="#section-descriptions">Descriptions</a></li>
                <li><a href="#section-taxon-concepts">Taxon Concepts</a></li>
                <li><a href="#section-biostatus-history">Biostatus History</a></li>
                <li><a href="#section-links">Links</a></li>
                <li><a href="#section-collections">Collections</a></li>
                <li><a href="#section-metadata">Metadata</a></li>
            </ul>
        </div>
    </div>
</div>
