<div class="col-md-1 mw-100 sidebar">&nbsp;</div>
<div class="col-md-2 mw-100 sidebar pl-sm-5 pl-md-4 pt-3 pb-5">
    <div class="heading-divider">&nbsp;</div>
    <h2>Useful Links</h2>
    <ul class="text-left list-inline">
        <li><a href="/Support/AboutUs">About us</a></li>
        <li><a href="/Support/TermsOfUse">Terms of use</a></li>
        <li><a href="/Support/Privacy">Privacy statement</a></li>
        <li><a href="/Support/ContactUs">Contact us</a></li>
    </ul>
    <div class="heading-divider">&nbsp;</div>
    <h2>Related Links</h2>
    <ul class="text-left list-inline">
        <li><a href="http://www.landcareresearch.co.nz/">Manaaki Whenua</a></li>
        <li><a href="">Something</a></li>
        <li><a href="">Somehting</a></li>
    </ul>
</div>
