<div class="col-md-1 mw-100 sidebar">&nbsp;</div>
<div class="col-md-2 mw-100 sidebar pl-sm-5 pl-md-0 pt-3 pb-5">
    <div class="sticky-top">
        <div id="side-bar-useful-links">
            <div class="heading-divider mt-4">&nbsp;</div>
            <h2>Useful Links</h2>
            <ul class="text-left list-inline">
                <li><a href="/Support/AboutUs">About us</a></li>
                <li><a href="/Support/TermsOfUse">Terms of use</a></li>
                <li><a href="/Support/Privacy">Privacy statement</a></li>
                <li><a href="/Support/ContactUs">Contact us</a></li>
            </ul>
        </div>
        <div id="side-bar-navigation">
            <div class="heading-divider mt-4">&nbsp;</div>
            <h2>Navigation</h2>
            <ul class="text-left list-inline">
                <li><a href="#section-biostatus-values">Biostatus values</a></li>
                <li><a href="#section-nomenclature">Nomenclature</a></li>
                <li><a href="#section-classification">Classification</a></li>
                <li><a href="#section-vernacular-names">Vernacular names</a></li>
                <li><a href="#section-hybridisation">Hybridisation</a></li>
                <li><a href="#section-concepts">Concepts</a></li>
                <li><a href="#section-biostatus-history">Biostatus history</a></li>
                <li><a href="#section-links">Links</a></li>
                <li><a href="#section-collections">Collections</a></li>
                <li><a href="#section-metadata">Metadata</a></li>
            </ul>
        </div>
    </div>
    
</div>
