@model Systematics.Portal.Web.Search.Tools.Models.SolrDocument

    <p class="ml-4">
        @if (Model.NzOrigin != null && !Model.NzOrigin.Equals(string.Empty))
        {
            @:&nbsp;&nbsp;<span class="heading">NZ Origin:</span>&nbsp;@Model.NzOrigin
        }
        @if (Model.TaxonRank != null && !Model.TaxonRank.Equals(string.Empty))
        {
            @:&nbsp;&nbsp;<span class="heading">Taxon Rank:</span>&nbsp;@Model.TaxonRank
        }
        @if (Model.Kingdom != null && !Model.Kingdom.Equals(string.Empty))
        {
            @:&nbsp;&nbsp;<span class="heading">Kingdom:</span>&nbsp;@Model.Kingdom
        }
    </p>
