
@{
    ViewData["Title"] = "Detailed help";
}
@model SystematicsData.Models.Entities.Access.ContentConfigurations;

<partial name="~/Views/Shared/_NavAndSearch.cshtml" />

<div class="row">
    <partial name="~/Views/Shared/_SideBar.cshtml" />
    <div class="col-lg-7 mw-100 pt-5 pl-5 pb-5 order-1 order-lg-2">
        <div class="page-content">
            @if (Model.ContentConfigurationList.ElementAt(0) != null)
            {
                <h1 class="pb-4">@Html.Raw(Model.ContentConfigurationList[0].Content.SectionTitle)</h1>
                @Html.Raw(Model.ContentConfigurationList[0].Content.Text)
            }
        </div>
    </div>
</div>

