
@{
    ViewData["Title"] = "Settings";
}

<div class="container-fluid">
    <partial name="/Views/Shared/_backend_nav.cshtml" />
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <br />
</div>

