@{
    ViewData["Title"] = "Detail";
}

@model SystematicsPortal.Web.ViewModels.FieldsViewModel;

@await Html.PartialAsync("~/Views/Shared/_NavAndSearch.cshtml")

    <div class="row">
        <div class="col-md-1 mw-100">&nbsp;</div>
        <div class="col-md-10 mw-100 pt-5 pl-5 pb-5">
            <!--<div class="row">
    <div class="col-md-12">-->
            <h1 class="pb-4">Cranwell, E. 1956: Fungi of Marotiri Island.<i>Tane 7</i>: 22.</h1>
            <!--</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            -->
            <div id="detail-nav-buttons" class="btn-group mb-4" role="group">
                <button class="btn btn-secondary button-selected" type="button">
                    Detail
                </button>
                <button class="btn btn-secondary" type="button">
                    Map
                </button>
            </div>
            <!--</div>
    </div>-->

            <div class="row">
                <div class="col-md-3 mw-100 p-0 pr-1 pb-4">
                    <img alt="Bootstrap Image Preview" src="~/images/placeholder.jpg" />
                </div>
                <div class="col-md-9 pl-4">
                    <div class="form-group row">
                        <label class="col-md-3 hidden-col-xl-3-down mw-100">Name</label>
                        <div class="col-md-9 hidden-col-xl-9-down mw-100">
                            <i>Bacteria</i>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 hidden-col-xl-10-down mw-100">Classification</label>
                        <div class="col-md-9 hidden-col-xl-2-down mw-100">
                            Bergey's Manual of Systematic Bacteriology, 2nd ed.
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 hidden-col-xl-10-down mw-100">Parent Reference</label>
                        <div class="col-md-9 hidden-col-xl-2-down mw-100">
                            <a href="f6b8eca5-a1a5-44e5-8437-282e3bf91674">Garrity, G.M; Boone, D.R.; Castenholz, R.W. (ed) 2001: <i>Volume One: The Archaea and the Deeply Branching and Phototrophic Bacteria.</i> 2nd edition.<i> Bergey's Manual of Systematic Bacteriology.</i> Springer.</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 hidden-col-xl-3-down mw-100">Parent</label>
                        <div class="col-md-9 hidden-col-xl-9-down mw-100">
                            <a href="1cb1cee0-36b9-11d5-9548-00d0592d548c">biotic</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 hidden-col-xl-3-down mw-100">Current Name</label>
                        <div class="col-md-9 hidden-col-xl-9-down mw-100">
                            <a href="1cb1ce08-36b9-11d5-9548-00d0592d548c">Bacteria</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 hidden-col-xl-3-down mw-100">Basionym</label>
                        <div class="col-md-9 hidden-col-xl-9-down mw-100">
                            <a href="1cb1ce08-36b9-11d5-9548-00d0592d548c">Bacteria</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 hidden-col-xl-3-down mw-100">Kingdom</label>
                        <div class="col-md-9 hidden-col-xl-9-down mw-100">
                            <a href="1cb1ce08-36b9-11d5-9548-00d0592d548c">Bacteria</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Breadcrumb</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Breadcrumb</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Breadcrumb
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group btn-group-lg float-right hidden-xs-down" role="group">
                    <button class="btn btn-secondary" type="button">
                        Save to favorites
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Download
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Annotate
                    </button>
                    <button class="btn btn-secondary" type="button">
                        History
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Get citation
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Share
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Contact us
                    </button>
                </div>
                <div class="btn-group-vertical btn-group-lg hidden-sm-up" role="group">
                    <button class="btn btn-secondary" type="button">
                        Save to favorites
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Download
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Annotate
                    </button>
                    <button class="btn btn-secondary" type="button">
                        History
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Get citation
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Share
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Contact us
                    </button>
                </div>
            </div>
        </div>
    </div>-->
            <br />

            <div class="heading-divider"></div>
            <h3>Biostatus values</h3>
            <div class="form-group row">
                <label class="col-2 mw-100">Test1</label>
                <div class="col-10">
                    hehe1
                </div>
            </div>

            <div class="heading-divider"></div>
            <h3>Concepts</h3>
            <div class="form-group row">
                <label class="col-2 mw-100">Test1</label>
                <div class="col-10">
                    hehe1
                </div>
            </div>
        </div>
    </div>
