@{
    ViewData["Title"] = "Detail";
}

@model SystematicsPortal.Web.ViewModels.FieldsViewModel;

<partial name="~/Views/Shared/_NavAndSearch.cshtml" />

<div class="row">
    <partial name="~/Views/Shared/_SideBarDetails.cshtml" />
    <partial name="~/Views/Shared/_BackToTop.cshtml" />
    <div class="col-12 col-lg-9 mw-100 pt-4 pl-5 pb-5 detail-page order-1 order-lg-2">
        <div id="action-icons" class="row">
            <div class="col-12 pb-2">
                <div class="float-right">
                    <img class="mr-2" alt="Favourite" title="Favourite" src="~/images/Favourites.png" />
                    <img class="mr-2" alt="Add to list" title="Add to list" src="~/images/Save.png" />
                    <img class="mr-2" alt="Download" title="Download" src="~/images/Download.png" />
                    <img class="mr-2" alt="Share" title="Share" src="~/images/Share.png" />
                    <img class="mr-2" alt="Citation" title="Cite" src="~/images/Citation.png" />
                    <img class="mr-2" alt="Annotate" title="Annotate" src="~/images/Annotate.png" />
                    <img class="mr-2" alt="History" title="History" src="~/images/History.png" />
                    @* <img class="mr-2" alt="Contact us" src="~/images/Contact.png" /> *@
                    @* <img class="mr-2" alt="Add" src="~/images/add.png" /> *@
                </div>
            </div>
        </div>

        <div class="page-content">
            <div id="section-head">
                <div class="row">
                    <div class="col-12">
                        <h1 class="pb-4">Bacteria</h1>
                    </div>
                </div>
                <div id="information-icons" class="row">
                    <div class="col-md-12 pb-3" style="vertical-align: top;">
                        <div class="information-icons">
                            <i class="far fa-plus-square fa-2x alert-success"></i>
                        </div>
                        <div class="information-icons">
                            <i class="fas fa-flag fa-2x alert-error"></i>
                        </div>
                        <div class="information-icons">
                            <i class="fas fa-exclamation-triangle fa-2x alert-warning"></i>
                        </div>
                        <div class="information-icons">
                            <i class="fas fa-kiwi-bird fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @* <div class="col-md-3 mw-100 p-0 pr-1 pb-5">
                            <img alt="Bootstrap Image Preview" src="~/images/placeholder.jpg" />
                        </div> *@
                    <div class="col-md-8 pl-3">
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Scientific Name</label>
                            <div class="col-sm-8 col-lg-9">
                                <i>Bacteria</i>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Classification</label>
                            <div class="col-sm-8 col-lg-9">
                                Bergey's Manual of Systematic Bacteriology, 2nd ed.
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Parent Reference</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="f6b8eca5-a1a5-44e5-8437-282e3bf91674">Garrity, G.M; Boone, D.R.; Castenholz, R.W. (ed) 2001: <i>Volume One: The Archaea and the Deeply Branching and Phototrophic Bacteria.</i> 2nd edition.<i> Bergey's Manual of Systematic Bacteriology.</i> Springer.</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Current Name</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="1cb1ce08-36b9-11d5-9548-00d0592d548c">Bacteria</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Parent</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="1cb1cee0-36b9-11d5-9548-00d0592d548c">biotic</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Kingdom</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="1cb1ce08-36b9-11d5-9548-00d0592d548c">Bacteria</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-12 text-md-center">
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\135C/WebFull"><img src="http://data.landcareresearch.co.nz/Image\135C/WebWidth250Jpg" /></a>
                            </div>
                            <div class="col-12 mt-1">
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\135R/WebFull"><img src="http://data.landcareresearch.co.nz/Image\135R/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\11VE/WebFull"><img src="http://data.landcareresearch.co.nz/Image\11VE/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\UGA/WebFull"><img src="http://data.landcareresearch.co.nz/Image\UGA/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\11X5/WebFull"><img src="http://data.landcareresearch.co.nz/Image\11X5/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\1360/WebFull"><img src="http://data.landcareresearch.co.nz/Image\1360/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\135N/WebFull"><img src="http://data.landcareresearch.co.nz/Image\135N/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\135P/WebFull"><img src="http://data.landcareresearch.co.nz/Image\135P/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\135Q/WebFull"><img src="http://data.landcareresearch.co.nz/Image\135Q/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\UF2/WebFull"><img src="http://data.landcareresearch.co.nz/Image\UF2/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\UG3/WebFull"><img src="http://data.landcareresearch.co.nz/Image\UG3/eBiotaFacetIcon" /></a>
                                <a data-fancybox="gallery" href="http://data.landcareresearch.co.nz/Image\133S/WebFull"><img src="http://data.landcareresearch.co.nz/Image\133S/eBiotaFacetIcon" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <script type="text/javascript">

            </script>

            <div id="section-biostatus-values">
                <div class="heading-divider"></div>
                <div id="section-biostatus-values-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-biostatus-values', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Biostatus values</h3>
                </div>
                <div id="section-biostatus-values-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-biostatus-values', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Biostatus values</h3>
                </div>
                <div id="section-biostatus-values-content">
                    <div class="inner-content-padding">
                        <h4 class="pb-4">Biostatus</h4>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Origin</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque voluptatum eius itaque saepe fugiat et excepturi tenetur nostrum, veritatis error? Doloremque ratione aspernatur tempora consequatur!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Occurrence</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Georegion</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Bio Status Reference</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Note</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                    </div>
                    <div class="inner-content-padding">
                        <h4 class="pb-4">Biostatus</h4>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Origin</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Occurrence</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Georegion</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Bio Status Reference</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Note</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section-nomenclature">
                <div class="heading-divider"></div>
                <div id="section-nomenclature-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-nomenclature', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Nomenclature</h3>
                </div>
                <div id="section-nomenclature-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-nomenclature', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Nomenclature</h3>
                </div>
                <div id="section-nomenclature-content">
                    <div class="inner-content-padding">
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Place of publication</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Publication date (actual)</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Publication date (stated)</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Page</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Nomenclatural Code</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Taxonomic Rank</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3 col-lg-3">Synonyms</label>
                            <div class="col-sm-8 col-lg-9 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Basionym (ICN)</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Based on</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Later homonym of</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Nomenclatural status</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">&nbsp;</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet (misapplied)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">&nbsp;</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet (dubium)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">&nbsp;</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet (proParte)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">&nbsp;</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet (novum)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">&nbsp;</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet (invalid)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">&nbsp;</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet (illegitimate)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3 col-lg-3">Orthography</label>
                            <div class="col-sm-8 col-lg-9 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Type taxon</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Sanctioning Author</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Sanctioning Page</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Anamorph Genus</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Anamorph Reference</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="section-classification">
                <div class="heading-divider"></div>
                <div id="section-classification-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-classification', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Classification</h3>
                </div>
                <div id="section-classification-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-classification', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Classification</h3>
                </div>
                <div id="section-classification-content">
                    <div class="inner-content-padding">
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Kingdom</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Phylum</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Class</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Order</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Family</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Genus</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Children</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>, <a href="#">Child</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section-vernacular-names">
                <div class="heading-divider"></div>
                <div id="section-vernacular-names-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-vernacular-names', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Vernacular Names</h3>
                </div>
                <div id="section-vernacular-names-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-vernacular-names', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Vernacular Names</h3>
                </div>
                <div id="section-vernacular-names-content">
                    <div class="inner-content-padding">
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">English</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="#">Cabbage tree</a>, <a href="#">Giant dracena</a>, <a href="#">Grass palm</a>, <a href="#">Palm lily</a>, <a href="#">Sago palm</a>, <a href="#">Ti</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Māori</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="#">Kauka</a>, <a href="#">Kiokio</a>, <a href="#">Kouka</a>, <a href="#">Ti</a>, <a href="#">Ti awe</a>, <a href="#">Ti Kouka</a>, <a href="#">Ti para</a>, <a href="#">Ti pua</a>, <a href="#">Ti rakau</a>, <a href="#">Whanake</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section-hybridisation">
                <div class="heading-divider"></div>
                <div id="section-hybridisation-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-hybridisation', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Hybridisation</h3>
                </div>
                <div id="section-hybridisation-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-hybridisation', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Hybridisation</h3>
                </div>
                <div id="section-hybridisation-content">
                    <div class="inner-content-padding">
                        <h4 class="pb-4">HybridData</h4>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">&nbsp;</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet (NameFull)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section-associations">
                <div class="heading-divider"></div>
                <div id="section-associations-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-associations', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Associations</h3>
                </div>
                <div id="section-associations-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-associations', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Associations</h3>
                </div>
                <div id="section-associations-content">
                    <div class="inner-content-padding">
                        <div class="form-group row">
                            <div class="col-12">
                                <div id="associations-table-header">
                                    <div class="form-group row">
                                        <div class="col-4"><label>Associated Species</label></div>
                                        <div class="col-4"><label>Association Type</label></div>
                                        <div class="col-4"><label>References</label></div>
                                    </div>
                                </div>
                                <div id="associations-table-content">
                                    <div class="form-group row table-row-separation">
                                        <div class="col-4"><a href="#">Taxon name</a></div>
                                        <div class="col-4">Some type related text</div>
                                        <div class="col-4"><a href="#">Jesus of Nazareth, 4 BC</a></div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-4"><a href="#">Taxon name</a></div>
                                        <div class="col-4">Lorem ipsum dolor sit amet.</div>
                                        <div class="col-4"><a href="#">Author, year</a></div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-4"><a href="#">Taxon name</a></div>
                                        <div class="col-4">Lorem ipsum dolor sit amet.</div>
                                        <div class="col-4"><a href="#">Author, year</a></div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-4"><a href="#">Taxon name</a></div>
                                        <div class="col-4">Lorem ipsum dolor sit amet.</div>
                                        <div class="col-4"><a href="#">Author, year</a></div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-4"><a href="#">Taxon name</a></div>
                                        <div class="col-4">Lorem ipsum dolor sit amet.</div>
                                        <div class="col-4"><a href="#">Author, year</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="section-descriptions">
                <div class="heading-divider"></div>
                <div id="section-descriptions-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-descriptions', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Descriptions</h3>
                </div>
                <div id="section-descriptions-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-descriptions', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Descriptions</h3>
                </div>
                <div id="section-descriptions-content">
                    <div class="inner-content-padding">
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Type (category)??</label>
                            <div class="col-sm-8 col-lg-9">
                                Description [From <a href="#">Author, Year</a>] <a href="#">Full text <i class="fas fa-external-link-alt fa-xs"></i></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Description</label>
                            <div class="col-sm-8 col-lg-9">
                                2n = 38 [From <a href="#">+Dawson, M.I. 2008+</a>] <a href="#">Full text <i class="fas fa-external-link-alt fa-xs"></i></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Description</label>
                            <div class="col-sm-8 col-lg-9">
                                Plant to 12-(20_ m high; young unbranched stems5-10 cm diam.; older trees with massive trunk to 1.5m diam., much-branched etc. [From <a href="#">Healy, A.J.; Edgar, E. 1980</a>] <a href="#">Full text <i class="fas fa-external-link-alt fa-xs"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section-taxon-concepts">
                <div class="heading-divider"></div>
                <div id="section-taxon-concepts-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-taxon-concepts', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Taxon Concepts</h3>
                </div>
                <div id="section-taxon-concepts-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-taxon-concepts', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Taxon Concepts</h3>
                </div>
                <div id="section-taxon-concepts-content">
                    <div class="inner-content-padding">
                        <div class="form-group row">
                            <div class="col-12">
                                <div id="taxon-concepts-table-header">
                                    <div class="form-group row">
                                        <div class="col-2"><label>Name</label></div>
                                        <div class="col-6"><label>Reference</label></div>
                                        <div class="col-2"><label>Current Name</label></div>
                                        <div class="col-2"><label>Parent Name</label></div>
                                    </div>
                                </div>
                                <div id="taxon-concepts-table-content">
                                    <div class="form-group row table-row-separation">
                                        <div class="col-2">Name</div>
                                        <div class="col-6">Reference</div>
                                        <div class="col-2">Current Name</div>
                                        <div class="col-2">Parent Name</div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-2">Cordyline australis (G.Forst.) Endl.</div>
                                        <div class="col-6">de Lange, P.J.; Rolfe, J.R.; Barkla J.W.; Courtney, S.P.; Champion, P.D.; Perrie, L.R.; Beadel, S.N.; Ford, K.A.; Breitwieser, I.; Schonberger, I.; Hindmarsh-Walls, R.; Heenan, P.B.; Ladley, K. 2018</div>
                                        <div class="col-2">Cordyline australis (G.Forst.) Endl.</div>
                                        <div class="col-2"></div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-2">Cordyline australis (G.Forst.) Endl.</div>
                                        <div class="col-6">Dawson, M.I. 2008</div>
                                        <div class="col-2"></div>
                                        <div class="col-2">	Cordyline australis (G.Forst.) Endl.</div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-2">Cordyline australis (G.Forst.) Endl.</div>
                                        <div class="col-6">Dawson, M.I. 2008</div>
                                        <div class="col-2"></div>
                                        <div class="col-2">	Cordyline australis (G.Forst.) Endl.</div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-2">Dracaena australis G.Forst.</div>
                                        <div class="col-6">Moore, L.B.; Edgar, . 1970</div>
                                        <div class="col-2">Dacaenopsis australis (G.Forst.) Planch.</div>
                                        <div class="col-2"></div>
                                    </div>
                                    <div class="form-group row table-row-separation">
                                        <div class="col-2">Dracaena australis G.Forst.</div>
                                        <div class="col-6">Moore, L.B.; Edgar, . 1970</div>
                                        <div class="col-2">Dacaena australis G.Forst.</div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="section-biostatus-history">
                <div class="heading-divider"></div>
                <div id="section-biostatus-history-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-biostatus-history', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Biostatus History</h3>
                </div>
                <div id="section-biostatus-history-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-biostatus-history', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Biostatus History</h3>
                </div>
                <div id="section-biostatus-history-content">
                    <div class="inner-content-padding">
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Origin</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Occurrence</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Georegion</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Reference</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">Note</label>
                            <div class="col-sm-8 col-lg-9">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section-links">
                <div class="heading-divider"></div>
                <div id="section-links-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-links', 'collapsed')">
                    <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Links</h3>
                </div>
                <div id="section-links-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-links', 'expanded')">
                    <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Links</h3>
                </div>
                <div id="section-links-content">
                    <div class="inner-content-padding">
                        <div class="form-group row">
                            <label class="col-sm-4 col-lg-3">&nbsp;</label>
                            <div class="col-sm-8 col-lg-9">
                                <a href="">Lorem ipsum dolor sit amet</a><br />
                                <a href="">Lorem ipsum dolor sit amet</a><br />
                                <a href="">Lorem ipsum dolor sit amet</a><br />
                                <a href="">Lorem ipsum dolor sit amet</a><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section-collections"></div>
            <div class="heading-divider"></div>
            <div id="section-collections-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-collections', 'collapsed')">
                <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Collections</h3>
            </div>
            <div id="section-collections-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-collections', 'expanded')">
                <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Collections</h3>
            </div>
            <div id="section-collections-content">
                <div class="inner-content-padding">
                    <div class="form-group row">
                        <div class="col-12">
                            <div id="collections-table-header">
                                <div class="form-group row">
                                    <div class="col-4"><label>Determined Name</label></div>
                                    <div class="col-2"><label>Country</label></div>
                                    <div class="col-3"><label>Land District</label></div>
                                    <div class="col-3"><label>No. of Specimens</label></div>
                                </div>
                            </div>
                            <div id="collections-table-content">
                                <div class="form-group row table-row-separation">
                                    <div class="col-4">Cordyline australis (G.Forst.) Endl.</div>
                                    <div class="col-2">New Zealand</div>
                                    <div class="col-3">Canterbury Land District</div>
                                    <div class="col-3"><a href="#">2</a></div>
                                </div>
                                <div class="form-group row table-row-separation">
                                    <div class="col-4">Cordyline australis (G.Forst.) Endl.</div>
                                    <div class="col-2">New Zealand</div>
                                    <div class="col-3"></div>
                                    <div class="col-3"><a href="#">2</a></div>
                                </div>
                                <div class="form-group row table-row-separation">
                                    <div class="col-4">Cordyline australis (G.Forst.) Endl.</div>
                                    <div class="col-2">New Zealand</div>
                                    <div class="col-3">Wellington Land District</div>
                                    <div class="col-3"><a href="#">15</a></div>
                                </div>
                                <div class="form-group row table-row-separation">
                                    <div class="col-4">Cordyline australis (G.Forst.) Endl.</div>
                                    <div class="col-2">New Zealand</div>
                                    <div class="col-3">Westland Land District</div>
                                    <div class="col-3"><a href="#">2</a></div>
                                </div>
                                <div class="form-group row table-row-separation">
                                    <div class="col-4">Cordyline australis (G.Forst.) Endl.</div>
                                    <div class="col-2">New Zealand</div>
                                    <div class="col-3">Canterbury Land District</div>
                                    <div class="col-3"><a href="#">1</a></div>
                                </div>
                                <div class="form-group row table-row-separation">
                                    <div class="col-4">Cordyline australis (G.Forst.) Endl.</div>
                                    <div class="col-2">New Zealand</div>
                                    <div class="col-3">Hawke's Bay Land District</div>
                                    <div class="col-3"><a href="#">2</a></div>
                                </div>
                                <div class="form-group row table-row-separation">
                                    <div class="col-4">Cordyline australis (G.Forst.) Endl.</div>
                                    <div class="col-2">New Zealand</div>
                                    <div class="col-3">North Auckland Land District</div>
                                    <div class="col-3"><a href="#">1</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="section-metadata">
            <div class="heading-divider"></div>
            <div id="section-metadata-expanded" class="clickable" onclick="ToggleVisibility(this, '#section-metadata', 'collapsed')">
                <h3 class="sub-heading"><i class="fas fa-angle-up"></i> Metadata</h3>
            </div>
            <div id="section-metadata-collapsed" style="display: none;" class="clickable" onclick="ToggleVisibility(this, '#section-metadata', 'expanded')">
                <h3 class="sub-heading"><i class="fas fa-angle-down"></i> Metadata</h3>
            </div>
            <div id="section-metadata-content">
                <div class="inner-content-padding">
                    <div class="form-group row">
                        <label class="col-sm-4 col-lg-3">Name Identifier</label>
                        <div class="col-sm-8 col-lg-9">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-lg-3">Date added</label>
                        <div class="col-sm-8 col-lg-9">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-lg-3">Date updated</label>
                        <div class="col-sm-8 col-lg-9">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-lg-3">Source database</label>
                        <div class="col-sm-8 col-lg-9">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

