@{
    ViewData["Title"] = "Detail";
}

@model SystematicsPortal.Web.ViewModels.FieldsViewModel;

@await Html.PartialAsync("~/Views/Shared/_NavAndSearch.cshtml")

<div class="row">
    @* @await Html.PartialAsync("~/Views/Shared/_SideBar.cshtml") *@
    @await Html.PartialAsync("~/Views/Shared/_SideBarDetails.cshtml")
    
    <div class="col-md-9 mw-100 pt-4 pl-5 pb-5 detail-page">
        <div id="action-icons" class="row">
            <div class="col-md-12 pb-2">
                <div class="float-right mr-2">
                    @* Save/Add *@
                    <span class="fa-stack fa-lg" title="Add/Save">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="far fa-plus-square fa-stack-1x"></i>
                    </span>
                    @* Contact *@
                    <span class="fa-stack fa-lg" title="Contact">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="far fa-envelope fa-stack-1x"></i>
                    </span>
                    @* Share *@
                    <span class="fa-stack fa-lg" title="Share">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-share-alt fa-stack-1x"></i>
                    </span>
                    @* Citation *@
                    <span class="fa-stack fa-lg" title="Citation">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-quote-right fa-stack-1x"></i>
                    </span>
                    @* History *@
                    <span class="fa-stack fa-lg"  title="History">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fa fa-history fa-stack-1x"></i>
                    </span>
                    @* Download *@
                    <span class="fa-stack fa-lg" title="Download">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-download fa-stack-1x"></i>
                    </span>
                    @* Annotate *@
                    <span class="fa-stack fa-lg" title="Annotate">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-pencil-alt fa-stack-1x"></i>
                    </span>
                    @* Favourite *@
                    <span class="fa-stack fa-lg" title="Favourite">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="far fa-star fa-stack-1x"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row">
                <div class="col-12">
                    <h1 class="pb-4">Bacteria</h1>
                </div>
            </div>

            <div class="row">
                @* <div class="col-md-3 mw-100 p-0 pr-1 pb-5">
                    <img alt="Bootstrap Image Preview" src="~/images/placeholder.jpg" />
                </div> *@
                <div class="col-md-9 pl-3">
                    <div class="form-group row">
                        <label class="col-sm-4">Name</label>
                        <div class="col-sm-8 pl-lg-3">
                            <i>Bacteria</i>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Classification</label>
                        <div class="col-sm-8 pl-lg-3">
                            Bergey's Manual of Systematic Bacteriology, 2nd ed.
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Parent Reference</label>
                        <div class="col-sm-8 pl-lg-3">
                            <a href="f6b8eca5-a1a5-44e5-8437-282e3bf91674">Garrity, G.M; Boone, D.R.; Castenholz, R.W. (ed) 2001: <i>Volume One: The Archaea and the Deeply Branching and Phototrophic Bacteria.</i> 2nd edition.<i> Bergey's Manual of Systematic Bacteriology.</i> Springer.</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Parent</label>
                        <div class="col-sm-8 pl-lg-3">
                            <a href="1cb1cee0-36b9-11d5-9548-00d0592d548c">biotic</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Current Name</label>
                        <div class="col-sm-8 pl-lg-3">
                            <a href="1cb1ce08-36b9-11d5-9548-00d0592d548c">Bacteria</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Basionym</label>
                        <div class="col-sm-8 p-lg-3">
                            <a href="1cb1ce08-36b9-11d5-9548-00d0592d548c">Bacteria</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Kingdom</label>
                        <div class="col-sm-8 pl-lg-3">
                            <a href="1cb1ce08-36b9-11d5-9548-00d0592d548c">Bacteria</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div id="section-biostatus-values">
                <div class="heading-divider"></div>
                <h3 class="pb-1">Biostatus values</h3>
                <h4 class="pb-4">Biostatus</h4>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Origin</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque voluptatum eius itaque saepe fugiat et excepturi tenetur nostrum, veritatis error? Doloremque ratione aspernatur tempora consequatur!
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Occurrence</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Georegion</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Bio Status Reference</label>
                    <div class="col-sm-8 col-lg-9">
                        <a href="">Lorem ipsum dolor sit amet</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Note</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <h4 class="pb-4">Biostatus</h4>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Origin</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Occurrence</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Georegion</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Bio Status Reference</label>
                    <div class="col-sm-8 col-lg-9">
                        <a href="">Lorem ipsum dolor sit amet</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Note</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>

            <div id="section-nomenclature">
                <div class="heading-divider"></div>
                <h3 class="pb-4">Nomenclature</h3>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Basionym (ICN)</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Based on</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Later homonym of</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Nomenclatural status</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (misapplied)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (dubium)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (proParte)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (novum)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (invalid)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (illegitimate)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Nomenclatural Code</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Taxonomic Rank</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Place of publication</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Publication date (actual)</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Publication date (stated)</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Page</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3 col-lg-3">Orthography</label>
                    <div class="col-sm-8 col-lg-9 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Type taxon</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Sanctioning Author</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Sanctioning Page</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Anamorph Genus</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Anamorph Reference</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>

            <div id="section-classification">
                <div class="heading-divider"></div>
                <h3 class="pb-4">Classification</h3>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Kingdom</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Phylum</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Class</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Order</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Family</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Genus</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>

            <div id="section-vernacular-names">
                <div class="heading-divider"></div>
                <h3 class="pb-4">
                    Vernacular Names
                </h3>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Vernacular Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Language of origin</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Language of use</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Region of use</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Notes</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>

            <div id="section-hybridisation">
                <div class="heading-divider"></div>
                <h3 class="pb-1">Hybridisation</h3>
                <h4 class="pb-4">HybridData</h4>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (NameFull)
                    </div>
                </div>
            </div>

            <div id="section-concepts">
                <div class="heading-divider"></div>
                <h3 class="pb-1">Concepts</h3>
                <h4 class="pb-4">Concept</h4>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">According To</label>
                    <div class="col-sm-8 col-lg-9">
                        <a href="">Lorem ipsum dolor sit amet</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Page</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Orthography</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Keywords</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet<br />
                        Lorem ipsum dolor sit amet<br />
                        Lorem ipsum dolor sit amet<br />
                    </div>
                </div>
                <h5 class="pb-4">Associations</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Cited Parent</label>
                    <div class="col-sm-8 col-lg-9">
                        <a href="">Lorem ipsum dolor sit amet</a>
                    </div>
                    <label class="col-sm-4 col-lg-3">Cited Current Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Cited Alternative Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Cited Association</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <h5 class="pb-4">Relationships</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Taxon</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Relationship</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <h5 class="pb-4">Descriptions</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Description</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Type</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Category</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (DescriptionUrl)
                    </div>
                </div>
                <h4 class="pb-4">Concept</h4>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">According To</label>
                    <div class="col-sm-8 col-lg-9">
                        <a href="">Lorem ipsum dolor sit amet</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Page</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Orthography</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Keywords</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet<br />
                        Lorem ipsum dolor sit amet<br />
                        Lorem ipsum dolor sit amet<br />
                    </div>
                </div>
                <h5 class="pb-4">Associations</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Cited Parent</label>
                    <div class="col-sm-8 col-lg-9">
                        <a href="">Lorem ipsum dolor sit amet</a>
                    </div>
                    <label class="col-sm-4 col-lg-3">Cited Current Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Cited Alternative Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Cited Association</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <h5 class="pb-4">Relationships</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Taxon</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Relationship</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>

                <h5 class="pb-4">Descriptions</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Description</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Type</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">Category</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet (DescriptionUrl)
                    </div>
                </div>
            </div>

            <div id="section-biostatus-history">
                <div class="heading-divider"></div>
                <h3 class="pb-4">Biostatus History</h3>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Origin</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Occurrence</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Georegion</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Reference</label>
                    <div class="col-sm-8 col-lg-9">
                        <a href="">Lorem ipsum dolor sit amet</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Note</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>

            <div id="section-links">
                <div class="heading-divider"></div>
                <h3 class="pb-4">Links</h3>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">&nbsp;</label>
                    <div class="col-sm-8 col-lg-9">
                        <a href="">Lorem ipsum dolor sit amet</a><br />
                        <a href="">Lorem ipsum dolor sit amet</a><br />
                        <a href="">Lorem ipsum dolor sit amet</a><br />
                        <a href="">Lorem ipsum dolor sit amet</a><br />
                    </div>
                </div>
            </div>

            <div id="section-collections">
                <div class="heading-divider"></div>
                <h3 class="pb-1">Collections</h3>
                <h4 class="pb-4">Collection</h4>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Accession Number</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Determined Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Collector</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Collection Date</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Host</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Substrate</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Type status</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <h5 class="pb-4">Regions</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Country</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Region</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Country</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Region</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <h4 class="pb-4">Collection</h4>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Accession Number</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Determined Name</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Collector</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Collection Date</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Host</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Substrate</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Type status</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <h5 class="pb-4">Regions</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Country</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Region</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Country</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Region</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>

            <div id="section-metadata">
                <div class="heading-divider"></div>
                <h3 class="pb-1">Metadata</h3>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Name Identifier</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Date added</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Date updated</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-lg-3">Source database</label>
                    <div class="col-sm-8 col-lg-9">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


