<script type="text/javascript">
    $(document).ready(function () {
        $('li').removeClass('selected');
        $('#nav-search').addClass('selected');
        showImportantNotice('@Html.Raw(Model.ImportantNotice)');
    });
</script>

@model SystematicsPortal.Web.Models.SearchViewModel;
@{
    ViewBag.Title = "Search";
}
@*@using (Html.BeginForm()) {
<div class="full">
    <partial name="SearchPartial" model="Model.SearchData" />
    <partial name="ResultsPartial" model="Model" />
</div>
}*@

<div class="full">
    <partial name="SearchPartial" model="Model.SearchData" />
    @await Html.PartialAsync("~/Views/Shared/_NavAndSearch.cshtml")
    <div class="row">
        @await Html.PartialAsync("~/Views/Shared/_SideBarFacets.cshtml", Model)
        <div id="results" class="col-lg-9 mw-100 pt-3 pl-5 pb-5 order-1 order-lg-2">
            <partial name="ResultsPartial" model="Model" />
        </div> <!-- end2 -->
    </div> <!-- end1 -->
</div>
