<script type="text/javascript">
    $(document).ready(function () {
        $('li').removeClass('selected');
        $('#nav-search').addClass('selected');
    });
</script>

@model Systematics.Portal.Web.Models.EditableContentViewModel
@{
    ViewBag.Title = "SCD Search Help";
}
<div class="page">
    @Html.Raw(Model.ContentToRender)
</div>
