<script type="text/javascript">
    $(document).ready(function () {
        $('li').removeClass('selected');
        $('#nav-search').addClass('selected');
        showImportantNotice('@Html.Raw(Model.ImportantNotice)');
    });
</script>

@model Systematics.Portal.Web.Models.SearchViewModel;
@{
    ViewBag.Title = "Search";
}
@using (Html.BeginForm()) {
<div class="full">
    <partial name="SearchPartial" model="Model.SearchData" />
    <partial name="ResultsPartial" model="Model" />
</div>
} 
