@{
    ViewData["Title"] = "Home Page";
}

<div class="c-t1-banner__container">
    <div class="c-t1-banner__extra-content">
        <!--<div class="c-section-header c-section-header--white-text">
        <h2 class="c-section-header__title">
            Hot topics
        </h2>
    </div> -->

        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <div class="text-center">
            <button type="button" class="button">Browse</button>
        </div>
        <br />

        <div class="c-related-content c-related-content--white-text c-related-content--4-up">
            <div class="carousel carousel--4-up carousel--on-dark-bg">
                <div class="carousel-cell">
                    <div class="c-related-content__item">
                        <a class="c-related-content__link" href="/discover-our-science/biodiversity/">
                            <img class="c-related-content__image" src="https://uat.mwlr.msapp.co.nz/uploads/public/Uploads/rice__FillMaxWzMwMCwyMDBd.jpg" width="300" height="200" alt="rice">
                            <h4 class="c-related-content__title">
                                Biodiversity
                            </h4>
                            <p class="c-related-content__desc">
                                Aotearoa has a rich biodiversity, from tiny bacteria to the majestic kauri tree, but it is under threat from invasive species, climate ch...
                            </p>
                        </a>
                    </div>
                </div><!-- End carousel-cell -->
                <div class="carousel-cell">
                    <div class="c-related-content__item">
                        <a class="c-related-content__link" href="/discover-our-science/biosecurity/tachininae-occisorini-asetulia-malloch-1938/">
                            <img class="c-related-content__image" src="https://uat.mwlr.msapp.co.nz/uploads/public/Uploads/vanuatu-scenery__FillMaxWzMwMCwyMDBd.JPG" width="300" height="200" alt="vanuatu scenery">
                            <h4 class="c-related-content__title">
                                Tachininae: Occisorini: [Asetulia] Malloch, 1938
                            </h4>
                            <p class="c-related-content__desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat odio id ligula sodales, sit amet porta nunc aliquam. Mauris viverra...
                            </p>
                        </a>
                    </div>
                </div><!-- End carousel-cell -->
                <div class="carousel-cell">
                    <div class="c-related-content__item">
                        <a class="c-related-content__link" href="/discover-our-science/biodiversity/biodiversity-indicators-2/">
                            <img class="c-related-content__image" src="https://uat.mwlr.msapp.co.nz/uploads/public/Uploads/eight_col_stoat__FillMaxWzMwMCwyMDBd.jpg" width="300" height="200" alt="eight col stoat">
                            <h4 class="c-related-content__title">
                                Predators
                            </h4>
                            <p class="c-related-content__desc">
                                Research focusing on protecting native ecosystems and primary industry through improved understanding of pest responses to management, an...
                            </p>
                        </a>
                    </div>
                </div><!-- End carousel-cell -->
                <div class="carousel-cell">
                    <div class="c-related-content__item">
                        <a class="c-related-content__link" href="/home/discover-our-research2/">
                            <img class="c-related-content__image" src="https://uat.mwlr.msapp.co.nz/uploads/public/Resources/Collections/53_190901_banks_solander-2010__FillMaxWzMwMCwyMDBd.jpg" width="300" height="200" alt="53 190901 banks solander 2010">
                            <h4 class="c-related-content__title">
                                Discover Our Research
                            </h4>
                            <p class="c-related-content__desc">
                                To drive innovation in New Zealand&#039;s management of terrestrial biodiversity and land resources
                            </p>
                        </a>
                        <ul class="c-tag-list">
                            <li class="c-tag-list__item">
                                <a href="/search/?tag=biodiversity" class="c-tag c-tag--small">Biodiversity</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- End carousel-cell -->
            </div>
        </div>
    </div>
</div>
